.BasketModal {
    padding: 20px 30px;
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-header {
            font-size: 15px;
            text-transform: lowercase;
            letter-spacing: 2px;
        }
    }

    &__form-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }

    &__input {
        width: 100%;
        height: 28px;
    }

    &__card-block {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__card-header {
        font-size: 17px;
        font-weight: 400;
        text-transform: lowercase;
        letter-spacing: 2px;
        text-align: center;
    }

    &__card {
        border: 1px solid black;
        border-radius: 10px;
        width: 300px;
        height: 150px;
        margin: 7px auto 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__firstLine {
        display: flex;
        justify-content: center;
    }

    &__cardImg {
        width: 30px;
        height: 20px;
        margin-right: 20px;
    }

    &__secondLine {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }

    &__valid-input {
        width: 60px;
    }

    &__cvv-input {
        width: 80px;
    }

    &__button {
        margin-top: 20px;
    }

    &__error {
        font-family: 'Work Sans', sans-serif;
        font-size: 12px;
        color: rgb(133, 11, 11);
    }
}
