.product {
    display: flex;
    height: 70%;
    margin: 0 auto;
    border: 1px solid rgb(205, 205, 205);

    &__info {
        height: 400px;
        width: 300px;
        // display: flex;
        position: relative;
        // flex-direction: column;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
    }
}