.product {
    &__photos {
        display: flex;
        flex-wrap: nowrap;
        width: 70%;
        height: 400px;
    }

    &__slider {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 130px;
    }

    &__slide {
        width: 100px;
        height: 100px;
    }

    &__thumbnail {
        width: 400px;
        height: 400px;
    }
}