.basketItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    height: 150px;
    gap: 30px;

    &__id {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 12px;
        border: 1px solid rgb(210, 210, 210);
        color: rgb(71, 70, 70);
    }

    &__main {
        display: flex;
        width: 60%;
        height: 100%;
        gap: 30px;
    }

    &__image {
        width: 150px;
        height: 100%;

        &-wrapper {
            background-color: rgba(0, 0, 0, 0.07);
        }
    }

    &__title {
        margin-bottom: 6px;
        letter-spacing: 5px;
        text-transform: lowercase;
        font-weight: 400;
        font-size: 20px;
        color: #755475;
    }

    &__brand {
        margin-bottom: 4px;
        letter-spacing: 2px;
        font-size: 18px;
    }

    &__totalPrice {
        width: 50px;
        font-size: 20px;
        color: rgb(71, 70, 70);
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__product-stock {
        display: flex;
    }

    &__number-control {
        width: 15%;
    }

    &__increment {
        padding: 0 10px;
    }
}
